*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

body{
    height: 100%;
	background-color: #333;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #fff;
	font-size: 16px;
	line-height: 24px;
    display: grid;
	min-height: 100vh;
	grid-template: minmax(100px, auto) 1fr minmax(70px, auto) / 1fr;
	grid-template-areas:
		"header"
		"main"
		"footer";
}
.header{
    display: grid;
    grid-template: 1fr / 1fr minmax(200px, auto) 1fr;
    grid-area: header;
    background-color: rgb(52, 3, 71);
    align-items: center;
}
.header__logo{
    background-color: #fff;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 0 0 0 30px;
    
}
.main{
    grid-area: main;
    background-color: rgb(184, 184, 184);
    
 }
.sidebar{
    background-color: #7a956b;
	padding: 20px;
	margin: 0px 0px 30px 0px;
    }
.nav__list ol{
    margin: 0 0 15px 0;
}
.gallery{

}
@media (min-width:992px) {
.main{
    display: grid;
    grid-template:1fr/1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
    
}
.sidebar{
    background-color: #7a956b;
	padding: 20px;
	margin: 0px 30px 30px 0px;
    grid-column: 2/3;
    text-align: center;
}
.gallery{
    grid-column: 3/4;
    margin: 0 0 30px 0;
}
}
.gallery__items {
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

}
.gallery__item {
	background-color: #794f45;
	padding: 0px 0px 85% 0px;
	position: relative;
}
.gallery__item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
}
@media (min-width: 800px) {
	.gallery__item_big {
		grid-column: span 2;
		grid-row: span 2;
	}
}
.gallery__title{
    text-align: center;
    font-size: 30px;
    margin: 20px 0 20px 0;
}
/* @media (min-width: 800px) {
	.gallery__item_big {
		grid-column: span 2;
		grid-row: span 2;
	}
} */

   
.footer{
    grid-area: footer;
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template: 1fr / 1fr minmax(350, auto) 1fr minmax(350, auto) 1fr;
    font-size: 24px;
}
.footer__text{
    font-family: 'Times New Roman', Times, serif;
    grid-column: 2/3;
    padding: 20px;
}
.footer__contact{
    padding: 20px;
    grid-column: 4/4;
}




















